{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block main-content %}
<div class="">
    <h1 class="text-center text-danger">Rezilla Company</h1>
    <div class="row">
        <div class="col-6">
            <img src="{% static 'app/images/banner/r7.jpg' %}" class="image-fluid">
        </div>
        <div class="col-6">
            The Company Property includes an administrative dashboard that allows property owners to manage their properties and tenants effectively. The dashboard provides a comprehensive overview of the property and tenant management activities and enables property owners to generate reports, view analytics, and make data-driven decisions.
        </div>

    </div>


</div>
{% endblock %}